<settings>
    <setting id="block_shutdown" value="true" />
    <setting id="channel_icons" value="true" />
    <setting id="demuxing" value="false" />
    <setting id="enable_edl" value="0" />
    <setting id="extradebug" value="false" />
    <setting id="group_recordings" value="0" />
    <setting id="host" value="serenity" />
    <setting id="host_ether" value="" />
    <setting id="livetv" value="true" />
    <setting id="livetv_conflict_strategy" value="1" />
    <setting id="livetv_priority" value="false" />
    <setting id="port" value="6543" />
    <setting id="rec_autocommflag" value="true" />
    <setting id="rec_autoexpire" value="true" />
    <setting id="rec_autometadata" value="true" />
    <setting id="rec_autorunjob1" value="false" />
    <setting id="rec_autorunjob2" value="false" />
    <setting id="rec_autorunjob3" value="false" />
    <setting id="rec_autorunjob4" value="false" />
    <setting id="rec_autotranscode" value="false" />
    <setting id="rec_separator1" value="" />
    <setting id="rec_template_provider" value="1" />
    <setting id="rec_transcoder" value="0" />
    <setting id="recording_icons" value="true" />
    <setting id="tunedelay" value="15" />
    <setting id="wsport" value="6544" />
    <setting id="wssecuritypin" value="0000" />
</settings>
