[Desktop Entry]
Name=MythTV Backend Setup
Comment=Used to configure a backend
GenericName=mythtv-setup
Exec=@env@/usr/bin/mythtv-setup --logpath /tmp
Type=Application
Encoding=UTF-8
Icon=/usr/share/pixmaps/mythtv.png
Categories=GTK;System;Settings
X-AppInstall-Package=mythtv
