# /etc/systemd/system/mythtv-backend.service
[Unit]
Description=MythTV Backend
Wants=mysql.service network-online.target
After=mysql.service network-online.target

[Service]
Type=simple
User=mythtv
UMask=0002
# EnvironmentFile=/etc/opt/mythtv/mythtv.conf
ExecStartPre=-/opt/mythtv/bin/mythstartup.sh
WorkingDirectory=~
LimitCORE=infinity
ExecStart=/usr/bin/mythbackend --syslog local7
Restart=on-failure
ExecStopPost=/opt/mythtv/bin/mythbackend_post.sh
StartLimitInterval=10min
StartLimitBurst=5
StandardOutput=null

[Install]
WantedBy=multi-user.target

