
[Unit]
Description=Peter Suspend Actions
After=sleep.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/mythtv/bin/post_sleep.sh

[Install]
WantedBy=sleep.target
