# /etc/systemd/system/peter-hdmiscan.service

[Unit]
Description=HDMI scan
Wants=mysql.service network-online.target multi-user.target
After=mysql.service network-online.target multi-user.target

[Service]
Type=oneshot
User=mythtv
UMask=0002
ExecStart=/opt/mythtv/bin/hdmirec_scan.sh

[Install]
WantedBy=multi-user.target
