
[Unit]
Description=Peter Proxy
After=time-sync.target

[Service]
Type=oneshot
User=mythtv
UMask=0002
ExecStart=/opt/mythtv/bin/startproxy.sh

[Install]
WantedBy=multi-user.target
