
[Unit]
Description=Peter Add IPV6 Address
After=multi-user.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/mythtv/bin/addipaddress.sh all

[Install]
WantedBy=multi-user.target
